<% content_for :title, "#{@post.title} | Martin Nash" %>

<div class="row">
  <div class="columns small-12">

    <p id="notice">
      <%= notice %>
    </p>

    <h2>
      <%= @post.title %>
    </h2>

    <p>
      <%= simple_format @post.body %>
    </p>


    <% if policy(@post).update? %>
        <%= link_to 'Edit', edit_post_path(@post) %> |
    <% end %>

    <%= link_to 'Delete', post_path(@post), method: :destroy %> |
    <%= link_to 'Back', posts_path %>

    <div id="author">
      <p><b>By:</b> <%= @post.author.email %></p>
    </div>

    <p id="status"><b>Status: </b><%= @post.published? ? "Published" : "Unpublished" %></p>


  </div>
</div>


