<section id="login_logout_section">
  
  <div class="row">
    <div class="columns small-12">    

      <% if user_signed_in? %>
        <%= link_to "Sign out", destroy_user_session_path, method: :delete %> | 
        <%= link_to 'edit user info', edit_user_registration_path %>
      
      <% else %>
        <%= link_to "Create account", new_user_registration_path %> | 
        <%= link_to "Sign in", new_user_session_path %> | 
        <%= link_to "Sign in with Twitter", omniauth_authorize_path(:user, :twitter ) %>
      
      <% end %>

    </div>
  </div>
  
</section>

